h1{
    color: blueviolet;
    text-decoration: underline;
}

li{
    color: cornflowerblue;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
li:hover{
    cursor: pointer;
    color: brown;
}

p{
    background-color: brown;
    width: 350px;
    padding: 2em;
}